In [1]:
%load_ext autoreload
%load_ext sql
%autoreload 2

# SQL coding test

This coding test will consist of 2 questions to measure your analytical skill and familiarity with SQL (in this case SQLite Flavor). We expect you to utilize SQL magic as demonstrated bellow (without additional processing on python). And we expect you to use python version 3.6 - 3.8 with environment manager (we give example using venv, but you're free to use conda/pyenv)

You'll be evaluated by your thought process (so write it down as markdown cell) and according to how correct and efficient your query is. The expected time for this coding test is 3 hours.

In [2]:
%%sql sqlite:///data/gmv.db
-- Don't change the above magic (line with double percent sign (%))
-- Insert Your query below
SELECT * FROM gmv LIMIT 3

Done.

[(0, '2022-01-21', 'Tokopedia', 'Susu Bendera', 6000860),
 (1, '2022-01-21', 'Tokopedia', 'BMT', 2703000),
 (2, '2022-01-22', 'Tokopedia', 'BMT', 4276000)]

## 1. Price Tracking Summary

In Magpie, we're responsible for tracking several product prices in order to make sure it's still inside acceptable range denoted by corresponding brands. One way to understand those data is by summarizing the data over a period of time for specific categories. You are given `price_track` table which have the information of an item average price in a month, `item_details` that contains the item's information extracted from the page corresponding to the `url`, and lastly  `sku_details` which contains the product taxonomy for the item's `sku_type`.

Using those information, summarize the price range and average price for the items that has `gramasi` higher than 1200 (exclusive) and price range higher than 10,000. 

Those three tables have the following schema:
```SQL
CREATE TABLE IF NOT EXISTS "price_track" (
  "month" TEXT,
  "url" TEXT,
  "price" INTEGER
);

CREATE TABLE IF NOT EXISTS "item_details" (
  "ecommerce_platform" TEXT,
  "sku_name" TEXT,
  "url" TEXT,
  "principal" TEXT,
  "merchant_name" TEXT,
  "merchant_cities" TEXT,
  "merchant_province" TEXT,
  "bundle" TEXT,
  "sku_type" TEXT
);

CREATE TABLE IF NOT EXISTS "sku_details" (
  "sku_type" TEXT,
  "sub_brand" TEXT,
  "kemasan" TEXT,
  "rasa" TEXT,
  "braket_kemasan_dancow" TEXT,
  "stage" TEXT,
  "gramasi" INTEGER,
  "satuan" TEXT
);
```

You are expected to return a table with columns `url`, `range`, `average`, `sub_brand`, `gramasi` and sorted by `sub_brand` alphabetically.

In [5]:
%%sql sqlite:///data/price.db
-- Modify the query bellow
SELECT * FROM price_track LIMIT 3

Done.

[(0, '2021-09-01', 'https://shopee.co.id/Susu-Bendera-1-1-3-Tahun-Madu-600-gr-3-Pcs-i.178189963.3233122881', 125600),
 (1, '2021-10-01', 'https://shopee.co.id/Susu-Bendera-1-1-3-Tahun-Madu-600-gr-3-Pcs-i.178189963.3233122881', 144000),
 (2, '2021-11-01', 'https://shopee.co.id/Susu-Bendera-1-1-3-Tahun-Madu-600-gr-3-Pcs-i.178189963.3233122881', 144000)]

## 2. Sales Growth

In Digital Shelf Analysis, we're concerned about the growth of a product and their performance from month to month. Here you are given a table named `gmv` which contains non-zero daily gmv of a certain brand. And you are tasked to calculate several metrics in order to give insight to our client.
> If there are missing day, assume that the corresponding brand has zero gmv for that day.

```SQL
CREATE TABLE IF NOT EXISTS "gmv" (
"index" INTEGER,
  "date" TEXT,
  "ecommerce_platform" TEXT,
  "brand" TEXT,
  "gmv" INTEGER
);
```

### 2.1 Monthly Share
Calculate the monthly share of the brand, i.e. compared to the grand total of that month's gmv, calculate the percent share of each brand.
You are expected to return a table with columns `brand`, `month`, `brand_gmv`, `gmv_pct` sorted by `brand` alphabetically then chronologically.

### 2.2 Monthly Growth
Calculate the growth of the brand `Susu Bendera` from month to month. i.e. compared to previous month, how many %growth does the brand experience this month (for the first month assume 0% growth)
You are expected to return a table with columns `brand`, `month`, `brand_gmv`, `growth_pct` sorted by `brand` alphabetically then chronologically.

### 2.3 Rolling Sum
Calculates the 3 month rolling sum of each brand. i.e. the total gmv from the previous 3 months up until previous month. (assume the months that's not listed in the table has 0 GMV)
You are expected to return a table with columns `brand`, `month`, `brand_gmv`, `gmv_r3m` sorted by `brand` alphabetically then chronologically.

In [9]:
%%sql sqlite:///data/gmv.db
-- Modify the following query
SELECT * FROM gmv LIMIT 3

Done.

[(0, '2022-01-21', 'Tokopedia', 'Susu Bendera', 6000860),
 (1, '2022-01-21', 'Tokopedia', 'BMT', 2703000),
 (2, '2022-01-22', 'Tokopedia', 'BMT', 4276000)]